html, body { 
  height: 100%; 
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
}

.square {
  margin: 0 auto 5%;
  height: 0;
  width: 95%;
  padding-bottom: 95%; /* = width for a 1:1 aspect ratio */
  border-radius: 5px; 
}

.background {
  background-color: #eee;
}

.front {
  width: 100%;

  position: absolute;
  z-index: 1;
}

.back {
  width: 100%;

  position: absolute;
  z-index: 0;
}

.ui-draggable {
  z-index: 2;
}

row {
  position: relative;
}

#board, #shapes {
  margin-bottom: 1%;
}

.column {
  padding: 0%;
  width: 5%;
}

.jumbotron {
  margin: 1%;
  padding: 1% 1%;
}

[data-color='green'] {
  background-color: #5BC99A;
}

[data-color='blue'] {
  background-color: #6F8AC1;
}

[data-color='purple'] {
  background-color: #B1437B;
}

[data-color='red'] {
  background-color: #FF0048;
}

[data-color='yellow'] {
  background-color: #FFD154;
}

[data-color='grey'] {
  background-color: #eee;
}

[data-color='clear'] {
  visibility: hidden;
}

.bleh {
  background-color: black;
}